.box {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}
.bar-button {
  border-radius: 7px;
  background-color: #005200;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.active {
  opacity: 1;
}
.small-text {
  font-size: 12px;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: block;
}
label {
  display: block;
  text-align: left;
}
